<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<head>
    <title>Erreur de validation</title>
</head>
<body>
<div layout:fragment="content">
    <h2>Erreur de validation</h2>
    <div th:if="${error}">
        <p th:text="${error}">Erreur</p>
    </div>
    <div th:if="${errors}">
        <ul>
            <li th:each="err : ${errors}" th:text="${err.defaultMessage}"></li>
        </ul>
    </div>
    <a href="javascript:history.back()">Retour</a>
</div>
</body>
</html>
