<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<head>
    <title th:text="#{error.business.title}">Erreur</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="hero min-h-[60vh]">
            <div class="hero-content text-center">
                <div class="max-w-md">
                    <div class="alert alert-error">
                        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                        <span th:text="${error}">Une erreur s'est produite</span>
                    </div>
                    <a th:href="@{/dashboard}" class="btn btn-primary mt-8" th:text="#{error.back.dashboard}">Retour au tableau de bord</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>